header {
    position: relative;
    padding: 0;
    border-bottom: 1px solid #217B8A; 
}

a { 
    color: black;
}

a:hover{
    background: #217B8A;
    color: white;
    cursor: pointer;
}

.container {
    margin : 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-gauche {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement au centre */
}

.nav-droite {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement au centre */
    margin-left: auto; /* Pousse cette section à droite */
}

ul { 
    display: flex;
    list-style-type: none;
    margin: 0;
}

ul a {
    padding: 1rem;
    display: inline-block;
}

img {
    height: auto;
    max-width: 100px;
    max-height: 50px;
}

a .logo {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.menu-container {
    position: relative;
}
.menu-container:hover .menu{
    display: block;
}

.menu {
    position: absolute;
    z-index: 1;
    display: none;
    background: whitesmoke;
}

.menu a {
    width: 100%;
    min-width: 8rem;
}