<!-- Header de l'utilisateur -->
<header>
  <div class="container">
    <a href="/" class="logo">
      <img src="../assets/images/logoUPJV_Bleu.png" />
    </a>
    <nav class="nav-gauche">
      <ul>
        <li>
          <a href="/">Accueil</a>
        </li>
        <li>
          <a href="/">Mon Matériel</a>
          <!-- Liste du matériel -->
        </li>
      </ul>
    </nav>
    <nav class="nav-droite">
      <ul>
        <li>
          <a href="/connexion">Se connecter</a>
        </li>
        <li class="menu-container">
          <a href="/">Mon Compte</a>
          <div class="menu">
            <a href="/profil">Mon profil</a>
            <a href="">Se déconnecter</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- Header de l'administrateur -->
<!--
<header>
    <div class="container">
        <a href="/" class="logo">
            <img src="../assets/images/logoUPJV_Bleu.png"/>
        </a>
        <nav class="nav-gauche">
            <ul>
                <li> 
                    <a href="/">Accueil</a> 
                </li>
                <li> 
                    <a href="/utilisateurs">Utilisateurs</a> 
                </li>
                <li> 
                    <a href="/matériels">Matériels</a> 
                </li>
            </ul>
        </nav>
        <nav class="nav-droite">
            <ul>
                <li> 
                    <a href="/connexion">Se connecter</a>
                </li>
                <li class="menu-container">
                    <a href="/">Mon Compte</a>
                    <div class="menu">
                        <a href="/profil">Mon profil</a>
                        <a href="">Se déconnecter</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header> 
-->
