<!-- Le style que j'ai mis est temporaire, il faudra qu'on se mette d'accord -->
<!-- On aurait peut être du faire une maquette -->

<style>
	header {
		height: 100px;
		border: 1px solid black;
		display: flex;
	}
	.composantHeader {
		margin-left: 2%;
		margin-right: 2%;
	}
	.logoUPJV {
		height: 100%;
	}
</style>

<!-- Header de l'utilisateur -->
<header>
	<img class="logoUPJV" src="../assets/images/logoUPJV_Bleu.png"/>
	<a class="composantHeader">Accueil (Liste du matériel dispo)</a>
	<a class="composantHeader">Mon Matériel (le matériel emprunté)</a>
	<a class="composantHeader">Mon compte</a>
</header>

<!-- Header de l'administrateur -->
<header>
	<img class="logoUPJV" src="../assets/images/logoUPJV_Bleu.png"/>
	<a class="composantHeader">Accueil (Liste des demandes / retours)</a>
	<a class="composantHeader">Utilisateur (CRUD)</a>
	<a class="composantHeader">Matériel (CRUD)</a>
	<a class="composantHeader">(Mon compte)</a> <!-- Je ne sais pas s'il sera utile celui la -->
</header>

<main>
	<h1> Bienvenue </h1>
	<p> Vous avez besoin de matériel ? Vous souhaitez rendre quelque chose ? Vous êtes au bon endroit ! </p>
	<p> Liste du Matériel disponible : </p>
	<ul>
		<li>Work in progress...</li>
	</ul>

	<div>

	</div>
</main>

<router-outlet />
