<!-- Header de l'utilisateur -->
<header>
  <div class="container">
    <a routerLink="" class="logo">
      <img src="../assets/images/logoUPJV_Bleu.png" />
    </a>
    <nav class="nav-gauche">
      <ul>
        <li>
          <a
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Accueil</a
          >
        </li>
        <li>
          <a
            routerLink="/my"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Mon Matériel</a
          >
          <!-- Liste du matériel -->
        </li>
        <li>
          <a
            routerLink="/api/materiels"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Matériel disponible</a
          >
        </li>
        @if(roleAdmin){
        <li>
          <a
            routerLink="/api/materiels/manage"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Gérer le matériel</a
          >
        </li>
        }
      </ul>
    </nav>
    <nav class="nav-droite">
      <ul>
        @if(isauth){
        <li class="menu-container">
          <a href="/">{{ user.nom }}</a>
          <div class="menu">
            <a href="/profil">Mon profil</a>
            <a href="">Se déconnecter</a>
          </div>
        </li>
        <li>
          <a (click)="logout()">Se déconnecter</a>
        </li>
        } @else {
        <li>
          <a
            routerLink="/api/utilisateurs/login"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Se connecter</a
          >
        </li>
        }
      </ul>
    </nav>
  </div>
</header>
