html {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
}

div.app {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.quizz-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px black;
  flex-wrap: wrap;
  max-width: 80%;
}

h3.quizz-title {
  margin: 0;
  margin-bottom: 10px;
}

span.application-yellow {
  background-color: yellow;
  margin-left: -8px;
  padding-left: 8px;
}

div#application-container {
  flex-wrap: wrap;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

button.application-button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: 1px blue solid;
  border-radius: 5px;
}

button.application-button:hover {
  background-color: white;
  color: blue;
}

div.quizz-answer-zone {
  display: flex;
  flex-direction: column;
}

div.quizz-div {
  margin: 10px 0;
  display: flex;

  border: 1px blue solid;
  border-radius: 5px;
  padding: 5px;
}

div.quizz-div:hover {
  border: tomato solid 1px;
}

label.quizz-label {
  flex-grow: 1;
}
