/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}

html, button {
    font-size: 16 px;

}

body { 
    margin: 0;
}

a {
    text-decoration: none;
}