.card {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 15rem;
  height: auto;
  box-shadow: gainsboro 0 0.2rem 0.5rem;
  align-content: center;
  border-radius: 0.7rem;

  .head {
    display: flex;
    margin-bottom: 1rem;

    .right {
      flex-grow: 1;
      text-align: right;
    }
  }

  .body {
    display: flex;
    flex-direction: column;

    img {
      width: 13rem;
      height: auto;
      border: 0.2rem black solid;
      border-radius: 0.5rem;
    }

    .content {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;

      div.quantity {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
      }

      p {
        margin: 0;
      }

      input.quantity {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 2rem;
        background-color: #217b8a;
        border-radius: 0.3rem;
        padding: 0.2rem;
        color: white;
        font-weight: bold;
        margin: 0 0 0 0.5rem;
        flex-grow: 1;
      }

      button {
        text-decoration: none;
        color: black;
        padding: 0.5rem;
        border-radius: 0.5rem;
        flex-grow: 1;
        border: 0;
        font-size: medium;
        font-weight: 585;
      }

      button:hover {
        background-color: #217b8a;
        color: white;
      }
    }
  }
}
