<div class="card" [ngClass]="{ active: selected }">
  <div class="head">
    <div>
      {{
        modele.intitule.length > 17
          ? (modele.intitule | slice : 0 : 17) + "..."
          : modele.intitule
      }}
    </div>
    <div class="right">{{ modele.idModele }}</div>
  </div>

  <div class="body">
    @if (modele.imageUrl) {
    <img [src]="modele.imageUrl" [alt]="modele.intitule" />
    }
    <div class="content">
      <span>type de materiel : {{ modele.type.typeMateriel }}</span>
      <span>quantité disponible : {{ quantity }}</span>
      <button (click)="onSelectClick()">
        {{ selected ? "Retirer" : "Ajouter" }}
      </button>
      <button (click)="onDetailClick()">Détails</button>
    </div>
  </div>
</div>
