<div class="card">
  <div class="head">
    <div>
      {{
        modele.intitule.length > 17
          ? (modele.intitule | slice : 0 : 17) + "..."
          : modele.intitule
      }}
    </div>
    <div class="right">{{ modele.idModele }}</div>
  </div>

  <div class="body">
    @if (modele.imageUrl) {
    <img [src]="modele.imageUrl" [alt]="modele.intitule" />
    }
    <div class="content">
      <span>type de materiel : {{ modele.type.typeMateriel }}</span>
      <span>quantité disponible : {{ quantity }}</span>
      <div class="quantity">
        <p>quantité commandée :</p>
        <input class="quantity" [value]="quantityWanted" />
      </div>
      <button (click)="onDetailClick()">Détails</button>
    </div>
  </div>
</div>
