/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: monospace;
  background-color: #f8f8f8;

  display: flex;
  flex-direction: column;

  margin: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-horizontal {
  flex-direction: row;
}

.flex .flex-extend {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.border-shadow {
  box-shadow: 0 5px 10px #ececec;
}

.no-margin {
  margin: 0;
}
